:root{
  /* --bg_color: #FF653F; 
   */
  --bg_color: white;
}

body {
  background-color: var(--bg_color);
}

.icon {
  position: relative;
  height: 20%;
  width: auto;

  left: 50%;
  transform: translateX(-50%);
}

button {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: Transparent;
  border-color: #333;
  border-radius: 10px;
  transition: 1s;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
}

button.login {
  top: 20vh;
}

button.register {
  top: 21vh;
}

button:hover {
  background-color: #F53B0D;
}
