:root {
  --backgroundColor : #cccccc;
}

body {
  font-family: 'Text Me One', sans-serif;
}

/* FLOOR */



/* ROOM */


.roomContainer {
  width: 100%;
  height: auto;
  background-color: gray;
  margin-top: 50px;
}

.text {
  position: relative;
  z-index: -10;
  color: red;
}

.room {
  float: left;
  margin-left: 1px;
  margin-right: 0px;
}


img {
  position: relative;
  z-index: -1;
  max-width: 70%;
  height: auto;

}


/* CONFIRM PANEL */

.confirmPanel {
  z-index: 1;
  background-color: gray;
  width: 50%;
  height: 30%;
  margin: auto;
}
.confirmPanel h1{
  position: relative;
  text-align: center;
}


